
<h1>Profile</h1>
<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @user %>
    <div class="card card-header results-block">
      <table class = "col-md-12">
        <tbody>
            <tr>
                <td><strong>Name: </strong><%= @user.first_name + " " + @user.last_name %></td>
                <td><strong> Email: </strong><%= @user.email %> </td>
                <% if !Friendship.db_lookup(current_user,@user) %>
                  <td> <%= link_to 'Add Friend',friendships_path(@user),class: "btn btn-success",method: :post %></td>
                <%else%>
                  <td> <%= link_to 'Remove Friend',friendship_path(@user),class: "btn btn-warning",method: :delete %></td>
                <%end%>
            </tr>
        </tbody>
      </table>
    </div>
  
  <% @tracked_stocks = @user.stocks %>
  <%= render 'stocks/list'%>
<% end %>
